@import './assets/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-font-primary{
  font-family: 'Montserrat Alt 1';
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0A141D;
  z-index: 1000;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0A141D;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}